<% // LABELS

const lexicalListLabels = {
    464118: "Lu A",
    471682: "Animals",
    471683: "Birds",
    471684: "Cities",
    471685: "Fish",
    471686: "Geography",
    471687: "Grain",
    471688: "Metal",
    471689: "Officials",
    471691: "Plants",
    471692: "Tribute",
    471693: "Vessels and Garments",
    471694: "Wood"
}

%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="grain.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ky: AI - results</title>
</head>
<body>
    <div class="urukContainer">
        <div class="urukBox urukNav">
            <a href="/">Sign search</a>
            <a href="/analysis">Analysis</a>
            <a href="/about">About</a>
        </div>

        <div class='urukBox'>
            <h1>Analysis: results</h1>
            <p>Warning: those results are generated automatically. They require careful examination and interpretation, and are only meant to help you explore the corpus.</p>
        </div>

        <% if (data.prediction) { %>
            <div class='urukBox urukSmallText'>
                <div class='urukAttestation'>
                    <% if (data.certainty >= 80) { %>
                        <b>Prediction:</b>
                        <div class='urukTranscription'>
                            I am <%= data.certainty %>% sure it is a <%= data.prediction %> account.
                        </div>
                    <% } else { %>
                        <b>Type:</b>
                        <div class='urukTranscription'>
                            I'm sorry, I don't know what kind of account this is.
                        </div>
                    <% } %>
                </div>

                <div class='urukAttestation'>
                    <b>I also found...</b>
                    <div class='urukTranscription'>
                        <% if (Object.keys(data.features.lexicalItems).length > 0) { %>
                            <%= Object.keys(data.features.lexicalItems).length %> items known from lexical lists:
                            <span class="urukLabel">
                                <% Object.entries(data.features.lexicalItems).forEach(([key, value]) => { %>
                                    <%= key %> (<%= Object.keys(value).map(key => lexicalListLabels[key]).join(', ') %>)
                                    <% if (key !== Object.keys(data.features.lexicalItems)[Object.keys(data.features.lexicalItems).length - 1]) { %>, <% } %>
                                <% }); %>
                            </span>
                            <br>
                        <% } %>

                        <% if (data.features.timeExpressions.length > 0) { %><%= data.features.timeExpressions.length %> possible time expression(s): <span class = "urukLabel"><%= data.features.timeExpressions.join(', ') %></span><br><% } %>

                        <% if (data.features.theonyms.length > 0) { %><%= data.features.theonyms.length %> possible divine name(s): <span class = "urukLabel"><%= data.features.theonyms.join(', ') %></span><br><% } %>

                        <% if (data.features.toponyms.length > 0) { %><%= data.features.toponyms.length %> possible toponym(s): <span class = "urukLabel"><%= data.features.toponyms.join(', ') %></span><% } %>
                    </div>
                </div>

                <div class="urukAttestation">
                    <b>Your</b> <span class = 'urukHelp'><b>query</b><span class = 'urukHelpText'>As you can see, all metadata was removed from your query. This is done to make sure that the AI does not get 'distracted.'</span></span><b>:</b>
                    <div class="urukTranscription">
                        <pre><%- data.text %></pre>
                    </div>
                </div>

            </div>
        <% } %>
    </div>
</body>
</html>
