<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="grain.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ky: AI - results</title>
</head>
<body>
    <div class="urukContainer">
        <div class="urukBox urukNav urukSmallText">
            <a href="/">Sign search</a>
            <a href="/analysis">Analysis</a>
            <a href="/about">About</a>
        </div>

        <div class='urukBox'>
            <h1>Analysis: results</h1>
            <p>Warning: those results are generated automatically. They require careful examination and interpretation, and are only meant to help you explore the corpus.</p>
        </div>

        <div class='urukBox urukSmallText'>
            <div class='urukAttestation'>
                <b>Type:</b>
                <div class='urukTranscription'>
                    <%- data.prediction %>
                </div>
            </div>

            <div class='urukAttestation'>
                <b>I also found...</b>
                <div class='urukTranscription'>
                    <% 
                        const sections = [
                            { name: 'lexicalItems', items: Object.entries(data.features.lexicalItems).sort() },
                            { name: 'timeExpressions', items: data.features.timeExpressions },
                            { name: 'theonyms', items: data.features.theonyms },
                            { name: 'toponyms', items: data.features.toponyms }
                        ];
                        
                        const nonEmptySections = sections.filter(section => section.items.length > 0);
                        nonEmptySections.forEach((section, index) => {
                            if (section.name === 'lexicalItems') {
                    %>
                                <%= section.items.length %> items known from lexical lists:
                                <span class="urukLabel">
                                    <% section.items.forEach(([key, value], itemIndex, array) => { %>
                                        <span class="urukHighlight"><%= key %></span> (<%= Object.keys(value).map(key => key === '0' ? 'unknown' : (lexicalListLabels[key] || '')).join(', ') %>)<%= itemIndex !== array.length - 1 ? ', ' : '' %>
                                    <% }); %>
                                    <br>
                                </span>
                    <% 
                            } else if (section.name === 'timeExpressions') { 
                    %>
                                <%= section.items.length %> possible time expression(s): 
                                <span class="urukLabel"><%= section.items.join(', ') %></span>
                    <% 
                            } else if (section.name === 'theonyms') { 
                    %>
                                <%= section.items.length %> possible divine name(s): 
                                <span class="urukLabel"><%= section.items.join(', ') %></span>
                    <% 
                            } else if (section.name === 'toponyms') { 
                    %>
                                <%= section.items.length %> possible toponym(s): 
                                <span class="urukLabel"><%= section.items.join(', ') %></span>
                    <% 
                            }
                            if (index !== nonEmptySections.length - 1) {
                    %>
                                <br>
                    <% 
                            }
                        }); 
                    %>
                </div>
            </div>
            
            <% if (data.similarityHTML !== '') { %>
                <div class='urukAttestation'>
                    <div class="urukLine">
                        <b>Similarity scores:</b>
                        <%- data.jsonButtonSimilarity %>
                    </div>
                    <%- data.similarityHTML %>
                </div>
            <% } %>

            <div class='urukAttestation'>
                <b>Your cleaned query:</b>
                <div class='urukTranscription'>
                    <%- data.text.replace(/\n/g, '<br>') %> %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
