<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="grain.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ky: <%= term %></title>
</head>
<body class = 'urukContainer'>
    <nav>
        <div class="urukBox urukNav urukSmallText">
            <a href="/">Sign search</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <div class='urukBox'>
        <h1>Search results for "<%= term %>"</h1>
    </div>

    <% if (Object.keys(data.lexicalItems).length > 0) { %>
        <div class="urukBox">
            <div class="urukLine urukLineHigh">
                <h2>Lexical attestations (<%= data.lexicalItemsCount %> witnesses):</h2>
                <span class = "urukSmallText"><a href="javascript:void(0);" onclick="toggleVisibility('lexicalResults')">Hide / show</a></span>
            </div>
            <div id = "lexicalResults">
                <%- data.lexicalItems %>
            </div>
        </div>
    <% } %>

    <% if (data.economicAttestations) { %>
        <div class="urukBox">
            <div class="urukLine urukLineHigh">
                <% if (data.isCoordinated) { %>
                    <h2>Administrative attestations (<%= data.economicAccountsCount %> accounts):</h2>
                <% } else { %>
                    <h2>Administrative attestations (<%= data.economicAttestationsCount %> matches in <%= data.economicAccountsCount %> accounts):</h2>
                <% } %>
                <span class = "urukSmallText"><a href="javascript:void(0);" onclick="toggleVisibility('economicResults')">Hide / show</a></span>
            </div>

            <div id = "economicResults">
                <% if (data.statistics.compoundsHTML !== '') { %>
                    <div class='urukAttestation urukSmallText'>
                        <div class="urukLine">
                            <b>Most common split compounds:</b>
                            <%- data.jsonButtonCompounds %>
                        </div>
                        <%- data.statistics.compoundsHTML %>
                    </div>
                <% } %>
                
                <% if (data.statistics.lineCountsHTML !== '') { %>
                    <div class='urukAttestation urukSmallText'>
                        <div class="urukLine">
                            <b>Signs most commonly found in the same case:</b>
                            <%- data.jsonButtonLine %>
                        </div>
                        <%- data.statistics.lineCountsHTML %>
                    </div>
                <% } %>
    
                <% if (data.statistics.tabletCountsHTML !== '') { %>
                    <div class='urukAttestation urukSmallText'>
                        <div class="urukLine">
                            <b>Signs most commonly found in the same account:</b>
                            <%- data.jsonButtonTablet %>
                        </div>
                        <%- data.statistics.tabletCountsHTML %>
                    </div>
                <% } %>
    
                <% if (data.statistics.distribution !== '') { %>
                    <div class='urukAttestation urukSmallText'>
                        <div class="urukLine">
                            <b>Distribution:</b>
                        </div>
                        <%- data.statistics.distribution %>
                    </div>
                <% } %>
    
                <br>
                <br>
                <div class="urukLine urukLineHigh">
                    <h2></h2>
                    <span class = "urukSmallText"><%- data.jsonButtonEconomic %></span>
                </div>
                <%- data.economicAttestations %>
            </div>
        </div>
    <% } else { %>
        No results.
    <% } %>

    <!-- visibility toggler -->
    <script>
        function toggleVisibility(divId) {
            var div = document.getElementById(divId);
            var computedStyle = window.getComputedStyle(div);
            
            if (computedStyle.display === "none") div.style.display = "block";
            else div.style.display = "none";
        }
    </script>
</body>
</html>
