<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="grain.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ky: <%= term %></title>
</head>
<body>
    <div class="urukContainer">
        <div class="urukBox urukNav urukSmallText">
            <a href="/">Sign search</a>
            <a href="/analysis">Analysis</a>
            <a href="/about">About</a>
        </div>

        <div class='urukBox'>
            <h1>Search results for <%= term %></h1>
        </div>

        <div class="urukBox">
            <h2>Statistics</h2>
            <p>Data in this section concers the administrative accounts only. For an explanation of the algorithms used for calculations, see the <a href = '/about'>About</a> section.</p>
            <%- data.statistics.distribution %>
            <%- data.statistics.lineCollocations %>
            <%- data.statistics.tabletCollocations %>
            <%- data.statistics.economicCompounds %>
        </div>

        <% if (Object.keys(data.lexicalItems).length > 0) { %>
            <div class="urukBox">
                <h2>Lexical attestations (<%= data.lexicalItemsCount %> witnesses)</h2>
                <%- data.lexicalItems %>
            </div>
        <% } %>

        <% if (data.economicAttestations) { %>
            <div class="urukBox">
                <% if (data.isCoordinated) { %>
                    <h2>Administrative attestations (<%= data.economicAccountsCount %> accounts)</h2>
                <% } else { %>
                    <h2>Administrative attestations (<%= data.economicAttestationsCount %> matches in <%= data.economicAccountsCount %> accounts)</h2>
                <% } %>
                <%- data.economicAttestations %>
            </div>
        <% } %>

    </div>
</body>
</html>
